.outer-navbar {
    border-width: 1px !important;
}
.inner-navbar {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.hide {
    display: none !important;
}
.blog-action {
    padding-left: 25px !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.blog-description {
    max-height: 52px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 70% !important;
}
.blog-title-container {
    width: 18% !important;
}
.blog-category {
    width: 25% !important;
}
.blog-action {
    padding-right: 20px !important;
}
.active {
    background-color: #4a90e2;
    border: 1px solid #4a90e2;
    border-radius: 0.375rem;
    color: white !important;
}
.total-card {
    width: 25% !important;
}
